@model Service

<div class="row">
    <div class="col-12">
        <h1>@Model.Title</h1>
        <h5>@Model.Description</h5>
        <a asp-action="Index" class="btn btn-primary">Go Back</a>
    </div>
</div>